/*-- scss:defaults --*/

// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&display=swap');

// fonts
$font-family-sans-serif: Arial!default;

// headings
$presentation-heading-font: Arial!default;
$presentation-heading-color: #580002 !default;
$h1-font-size: 2em !default;
$h2-font-size: 2em !default;
$h3-font-size: 1.5em !default;

// code
$code-color: #580002 !default;
$font-family-monospace: 'Inconsolata', monospace !default;

// general
$body-bg: #ffffff;
$link-color: #580002;
$presentation-font-size-root: 28px;   // aumentar o texto do slide todo
$body-color: #000000;

/*-- scss:rules --*/

.reveal h1 {
  margin-bottom: 1em;
}

.reveal h2 {
  margin-bottom: 1em;
}

.reveal h3 {
  margin-bottom: 1em;
}

.reveal pre code {
  background-color: #ffffff;
  font-size: 1.5em;
  padding: 0em;
  line-height: 1.5em;
}

.codeyml {
  font-size: 1.5em !important;
  line-height: 1.5em !important;
}

.reveal pre.sourceCode code {
  background-color: #D3D3D3;
  font-size: 1.8em;
  padding: 0px 0px;
  white-space: pre;
}

.reveal code {
  font-family: Arial;
}

.reveal .footer > * {
  color: #580002;
}

.subtitle {
  color: $presentation-heading-color;
  font-size: 1.5em;
}

.date {
  font-size: 1.5em;
}

.reveal h1,
.reveal h2,
.reveal h3 {
  color: #580002;
  font-family: Arial;
}

.reveal h2 {
  text-decoration: underline;
  text-decoration-color: #580002;
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}

.center-y {
  text-align: center;
}

h1 strong {
  color: #580002;
  font-family: Arial;
}

.date strong {
  color: #580002;
  font-family: Arial;
  font-size: 1.5em;
}

.reveal a {
  color: #580002;
  text-decoration: underline;
  text-decoration-style: overline;
  text-decoration-thickness: 0.04em;
}

.aboutmeslide {
  font-size: 0.8em;
}

.rstudioslide {
  font-size: 1.5em;
}

.slide-number,
.reveal.has-logo .slide-number {
  color: #860002 !important;
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
}

/* slides normais */
.reveal .slides section {
  text-align: justify;
  overflow: hidden !important;  
}

.reveal .slides section:not(.capa) p,
.reveal .slides section:not(.capa) li {   // aumentar o texto do corpo do slide
  font-size: 1.3em;
}

/* ===== CAPA ===== */
.reveal .slide.capa {
  min-height: 100vh;
}

.reveal .slide.capa .capa-titulo {
  position: absolute;
  top: 14%;               // altura (contado de cima para baixo do slide)
  left: 1%;              // cria uma margem à esquerda
  right: 32%;           // Define uma “barreira” à direita
  text-align: left;    // Alinha o texto à esquerda
  color: #580002;
  font-family: Arial;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.1;
}

.reveal .slide.capa .capa-subtitulo {
  position: absolute;
  top: 40%;
  left: 1%;
  right: 32%;
  text-align: left;
  color: #580002;
  font-size: 1.2em;
}

.reveal .slide.capa .capa-autores {
  position: absolute;
  left: 1%;
  right: 32%;
  bottom: 8%;
  text-align: left;
  color: #580002;
  font-size: 1em;
}